* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  color: whitesmoke;
}

.app {
  width: 100%;
  padding: 0 1.4rem;
}
.app .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;
  gap: 0;
}
.app .header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.2rem;
  gap: 0.5rem;
}
.app .header .nav .card {
  padding: 0rem 0rem;
  background-color: rgba(33, 30, 30, 0.851);
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.app .header .nav .card:hover {
  opacity: 0.9;
}
.app .header .nav .card h1 {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem;
  gap: 0.6rem;
}
.app .header .nav .card h1 span {
  width: 15px;
  height: 15px;
  background-color: rgb(170, 170, 58);
  border-radius: 100%;
  margin: 0rem 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  gap: 0;
}
.app .header .nav .menu {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(33, 30, 30, 0.851);
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.app .header .nav .menu:hover {
  opacity: 0.9;
}

.Hero {
  border-radius: 1.2rem;
  width: 100%;
  height: 72vh;
  /*fullscreenheight*/
  padding: 0.5rem 1.6rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://cdn.prod.website-files.com/63cffb7c16ab33a28e9734f2/63d15ac4f646b6779ab57215_project-01-p-1600.webp");
  background-position: 28% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0 0;
  gap: 0;
}
.Hero .Hero-text {
  padding: 2.5rem 1.2rem;
}
.Hero .Hero-text h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4rem;
}
.Hero .Hero-text p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3rem;
}

.branding-section {
  padding: 1.2rem 0rem;
}
.branding-section .branding {
  background-color: rgb(30, 30, 30);
  padding: 1.2rem 1.4rem;
  margin: 0.8rem 0;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.branding-section .branding h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.branding-section .branding p {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
  padding: 0.4rem 0;
  color: rgb(157, 152, 152);
}
.branding-section .branding .branding-button {
  display: flex;
  justify-content: start;
  align-items: 0;
  padding: 0 0;
  gap: 1rem;
  padding: 1.2rem 0;
}
.branding-section .branding .branding-button .branding-arrrow {
  width: 24px;
  height: 24px;
  border: 0.5px solid white;
  background-color: #4d4646;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  gap: 0;
}
.branding-section .branding .branding-button .branding-arrrow i {
  font-size: 0.9rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.branding-section .branding .branding-button a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.branding-logo .Site-Logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  justify-items: center;
  align-items: center;
}
.branding-logo .Site-Logo .Sub-logo {
  padding: 0.5rem 0;
}
.branding-logo .Site-Logo .Sub-logo .Sub-logo img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.branding-about {
  width: 100%;
}
.branding-about .about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.branding-about .about .about-left {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.branding-about .about .about-left img {
  width: 100%;
  height: 100%;
  object-position: center;
  filter: contrast(130%) saturate(140%);
  -webkit-filter: saturate(70%);
}
.branding-about .about .about-right {
  width: 100%;
  background-color: rgb(30, 30, 30);
  padding: 2rem 1.5rem;
  border-radius: 5px;
}
.branding-about .about .about-right h5 {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: whitesmoke;
}
.branding-about .about .about-right h2 {
  font-size: 1.9rem;
  margin-top: 1.8rem;
  font-weight: 350;
  color: white;
  text-transform: uppercase;
  padding: 1.2rem 0rem;
}
.branding-about .about .about-right p {
  font-size: 0.9rem;
  color: gray;
  font-weight: 400;
  line-height: 1.4rem;
}
.branding-about .about .about-down {
  width: 100%;
}
.branding-about .about .about-down img {
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.branding-list ul {
  list-style: none;
  padding: 1.5rem 0;
}
.branding-list ul li {
  font-size: 1rem;
  font-weight: 300;
  padding: 16px 12px;
  margin: 0.5rem 0;
  text-transform: uppercase;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.branding-list ul li .fas {
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #4d4646;
  border: 1px solid whitesmoke;
  padding: 12px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  gap: 0;
}
.branding-list ul li .fas i {
  color: whitesmoke;
}

.brands-section .categories {
  padding: 0.2rem 0;
}
.brands-section .categories h2 {
  text-align: start;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 350;
  padding: 0rem 0.8rem;
  letter-spacing: 0.2rem;
  color: whitesmoke;
}
.brands-section .categories .category-grid {
  width: 340px;
  padding: 0 0.2rem;
}
.brands-section .categories .category-grid .category-item {
  width: 100%;
  height: 300px;
  background-color: rebeccapurple;
  border-radius: 1px;
  margin: 1.5rem 0;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.brands-section .categories .category-grid .category-item img {
  width: 100%;
  height: 100%;
  object-position: 45%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.brands-section .categories .category-grid .category-item h3 {
  position: absolute;
  top: 80%;
  padding: 0.6rem 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.brands-section .contact-section {
  width: 100%;
  padding: 1.3rem;
  background-color: #cebd63;
  border-radius: 10px;
}
.brands-section .contact-section h6 {
  text-transform: uppercase;
  color: #4d4646;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 0.3rem;
}
.brands-section .contact-section h2 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0.5rem 0;
  color: #4d4646;
  line-height: 2.1rem;
}
.brands-section .contact-section button {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.8rem 1.5rem;
  color: whitesmoke;
  background-color: rgb(33, 30, 30);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0.4rem 0;
}

.scroll-banner {
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

.scroll-content {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
}

.scroll-content h1 {
  margin: 0 2rem;
  font-size: 0.7rem;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

/* Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
.media-section {
  width: 100%;
}
.media-section .social-card {
  width: 100%;
  margin: 0.8rem 0;
  padding: 1rem;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.media-section .social-card .social-card__icon {
  display: flex;
  justify-content: space-between;
}
.media-section .social-card .social-card__icon i {
  font-size: 1.2rem;
}
.media-section .social-card .social-card__icon .last-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  gap: 0;
  background-color: #4d4646;
  border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 100%;
}
.media-section .social-card .social-card__icon .last-icon i {
  font-size: 0.8rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.media-section .social-card .social-card__content {
  padding: 0.4rem 0;
  margin-top: 0.8rem;
}
.media-section .social-card .social-card__content h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.08rem;
  padding: 0.6rem 0;
}
.media-section .social-card .social-card__content p {
  font-size: 0.8rem;
  color: rgb(151, 148, 148);
  font-weight: 200;
}

.news-section h1 {
  color: whitesmoke;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1.5rem 0;
  text-transform: uppercase;
}
.news-section .new-card {
  margin: 0.8rem 0;
  width: 100%;
  background-color: rgb(30, 30, 30);
  padding: 0.8rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.news-section .new-card .new-card-image {
  position: relative;
}
.news-section .new-card .new-card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.news-section .new-card .new-card-image .tag {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.news-section .new-card .new-card-content {
  padding: 0.8rem 0px;
}
.news-section .new-card .new-card-content .new-card-title {
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.news-section .new-card .new-card-content .new-card-description {
  font-size: 0.9rem;
  color: #bbb;
  line-height: 1.5;
  padding: 1rem 0;
  font-weight: 300;
}
.news-section .new-card .new-card-content .read-more {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0 0.2rem;
}
.news-section .new-card .new-card-content .read-more .icon {
  width: 30px;
  height: 30px;
  stroke-width: 2.5;
  border-radius: 100%;
  background-color: #4d4646;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 0.5rem;
  border: 1px solid whitesmoke;
}

.new-card {
  width: 100%;
  padding: 1rem;
  background-color: rgb(30, 30, 30);
  border-radius: 12px;
  overflow: hidden;
}
.new-card .new-card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.new-card .new-card-content {
  padding: 1.5rem 0.6rem;
}
.new-card .new-card-content .tag {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #ccc;
  margin-bottom: 8px;
}
.new-card .new-card-content .new-card-title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 0.9rem 0;
  text-transform: uppercase;
}
.new-card .new-card-content .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-card .new-card-content .form-group .email-input {
  background-color: rgb(30, 30, 30);
  border: 1px solid #555;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  font-size: 0.9rem;
  outline: none;
  transition: border 0.3s ease;
}
.new-card .new-card-content .form-group .email-input::placeholder {
  color: #aaa;
  letter-spacing: 0.5px;
}
.new-card .new-card-content .form-group .email-input:focus {
  border-color: #fff;
}
.new-card .new-card-content .form-group .subscribe-btn {
  background: #d6c36f;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background 0.3s ease;
}
.new-card .new-card-content .form-group .subscribe-btn:hover {
  background: #c1ae5e;
}



/*# sourceMappingURL=style.css.map */
