* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;

  color: whitesmoke;
}

@mixin button-styles($color) {
  background-color: $color;
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
@mixin flex-con($x, $y, $js, $ai, $gap: 0) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
  padding: $x $y;
  gap: $gap;
}

@mixin grid($cols: 2, $rows: 3, $gap: 20px) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: repeat($rows, auto);
  gap: $gap;
  justify-items: center;
  align-items: center;
}

.app {
  width: 100%;
  padding: 0 1.4rem;

  .header {
    width: 100%;

    @include flex-con(1.5rem, 0.5rem, space-between, center);

    .nav {
      @include flex-con(0.5rem, 0.2rem, center, center, 0.5rem);

      .card {
        padding: 0rem 0rem;
        @include button-styles(rgba(33, 30, 30, 0.851));

        h1 {
          font-size: 0.8rem;
          font-weight: 500;
          text-transform: uppercase;
          @include flex-con(0rem, 0rem, space-between, center, 0.6rem);

          span {
            width: 15px;
            height: 15px;
            background-color: rgb(170, 170, 58);
            border-radius: 100%;
            margin: 0rem 0.2px;
            @include flex-con(0, 0, center, center, 0);
          }
        }
      }

      .menu {
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        @include button-styles(rgba(33, 30, 30, 0.851));
      }
    }
  }
}

.Hero {
  border-radius: 1.2rem;
  width: 100%;
  height: 72vh;
  /*fullscreenheight*/
  padding: 0.5rem 1.6rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://cdn.prod.website-files.com/63cffb7c16ab33a28e9734f2/63d15ac4f646b6779ab57215_project-01-p-1600.webp");
  background-position: 28% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex-con(0, 0, end, end, 0);
  .Hero-text {
    padding: 2.5rem 1.2rem;

    h1 {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.4rem;
    }
    p {
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.3rem;
    }
  }
}

.branding-section {
  padding: 1.2rem 0rem;

  .branding {
    background-color: rgb(30, 30, 30);
    padding: 1.2rem 1.4rem;
    margin: 0.8rem 0;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: uppercase;
    }
    p {
      font-size: 0.8rem;
      font-weight: 300;
      letter-spacing: 0.01rem;
      padding: 0.4rem 0;
      color: rgb(157, 152, 152);
    }

    .branding-button {
      @include flex-con(0, 0, start, 0, 1rem);
      padding: 1.2rem 0;

      .branding-arrrow {
        width: 24px;
        height: 24px;
        border: 0.5px solid white;
        background-color: #4d4646;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;

        @include flex-con(0, 0, center, center, 0);

        i {
          font-size: 0.9rem;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
        }
      }
      a {
        text-decoration: none;
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }
}

.branding-logo {
  .Site-Logo {
    @include grid(2, 2, 5px);

    .Sub-logo {
      padding: 0.5rem 0;
      .Sub-logo img {
        width: 28px;
        height: 28px;
        object-fit: contain;
      }
    }
  }
}

.branding-about {
  width: 100%;

  .about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .about-left {
      width: 100%;
      height: 220px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        filter: contrast(130%) saturate(140%);
        -webkit-filter: saturate(70%);
      }
    }

    .about-right {
      width: 100%;
      background-color: rgb(30, 30, 30);
      padding: 2rem 1.5rem;
      border-radius: 5px;

      h5 {
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0.5rem 0;
        color: whitesmoke;
      }
      h2 {
        font-size: 1.9rem;
        margin-top: 1.8rem;
        font-weight: 350;
        color: white;
        text-transform: uppercase;
        padding: 1.2rem 0rem;
      }
      p {
        font-size: 0.9rem;
        color: gray;
        font-weight: 400;
        line-height: 1.4rem;
      }
    }
    .about-down {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
  }
}

.branding-list {
  ul {
    list-style: none;
    padding: 1.5rem 0;

    li {
      font-size: 1rem;
      font-weight: 300;
      padding: 16px 12px;
      margin: 0.5rem 0;

      text-transform: uppercase;
      background-color: rgb(30, 30, 30);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-content: center;

      .fas {
        width: 32px;
        height: 32px;
        text-align: center;
        background-color: #4d4646;
        border: 1px solid whitesmoke;
        padding: 12px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        @include flex-con(0, 0, center, center, 0);

        i {
          color: whitesmoke;
        }
      }
    }
  }
}

.brands-section {
  .categories {
    padding: 0.2rem 0;
    h2 {
      text-align: start;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 350;
      padding: 0rem 0.8rem;
      letter-spacing: 0.2rem;
      color: whitesmoke;
    }

    .category-grid {
      width: 340px;
      padding: 0 0.2rem;

      .category-item {
        width: 100%;
        height: 300px;
        background-color: rebeccapurple;
        border-radius: 1px;
        margin: 1.5rem 0;
        overflow: hidden;
        position: relative;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-position: calc(45%);
          object-fit: cover;
          border-radius: 10px;
          position: relative;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }

        h3 {
          position: absolute;
          top: 80%;
          padding: 0.6rem 0.5rem;
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }

  .contact-section {
    width: 100%;
    padding: 1.3rem;
    background-color: #cebd63;
    border-radius: 10px;
    h6 {
      text-transform: uppercase;
      color: #4d4646;
      font-weight: 400;
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
      padding: 0.3rem;
    }

    h2 {
      text-transform: uppercase;
      font-size: 2.2rem;
      font-weight: 300;
      padding: 0.5rem 0;
      color: #4d4646;
      line-height: 2.1rem;
    }

    button {
      width: 100%;
      font-size: 0.8rem;
      padding: 0.8rem 1.5rem;
      color: whitesmoke;
      background-color: rgb(33, 30, 30);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 0.4rem 0;
    }
  }
}

.scroll-banner {
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

.scroll-content {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
}

.scroll-content h1 {
  margin: 0 2rem;
  font-size: 0.7rem;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

/* Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.media-section {
  width: 100%;

  .social-card {
    width: 100%;
    margin: 0.8rem 0;
    padding: 1rem;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    .social-card__icon {
      display: flex;
      justify-content: space-between;

      i {
        font-size: 1.2rem;
      }

      .last-icon {
        width: 30px;
        height: 30px;
        @include flex-con(0, 0, center, center, 0);
        background-color: #4d4646;
        border: 1px solid whitesmoke;
        padding: 10px;
        border-radius: 100%;
        i {
          font-size: 0.8rem;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
        }
      }
    }

    .social-card__content {
      padding: 0.4rem 0;
      margin-top: 0.8rem;

      h3 {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.08rem;
        padding: 0.6rem 0;
      }

      p {
        font-size: 0.8rem;
        color: rgb(151, 148, 148);
        font-weight: 200;
      }
    }
  }
}

.news-section {
  h1 {
    color: whitesmoke;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
  }

  .new-card {
    margin: 0.8rem 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
    padding: 0.8rem;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    .new-card-image {
      position: relative;

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
      }

      .tag {
        position: absolute;
        bottom: 12px;
        left: 12px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}
    }

    .new-card-content {
      padding: 0.8rem 0px;

      .new-card-title {
        color: whitesmoke;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8rem;
      }

         .new-card-description {
      font-size: 0.9rem;
      color: #bbb;
      line-height: 1.5;
      padding: 1rem 0;
      font-weight: 300;
    }
    .read-more{

       display: inline-flex;
      align-items: center;
      gap: 8px;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 200;
      color: #fff;
      text-decoration: none;
      transition: color 0.3s ease;
      padding: 0 0.2rem;

       .icon {
        width: 30px;
        height: 30px;
        stroke-width: 2.5;
        border-radius: 100%;
        background-color: #4d4646;

        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        padding: 0.5rem;
        border: 1px solid whitesmoke;
}


    }
    }
  }
}

.new-card {
  width: 100%;
  padding: 1rem;
  background-color: rgb(30, 30, 30);
  border-radius: 12px;
  overflow: hidden;
 



  .new-card-image {
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  .new-card-content {
    padding: 1.5rem 0.6rem;
    .tag {
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      color: #ccc;
      margin-bottom: 8px;
    }

    .new-card-title {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3;
      margin: 0.9rem 0;
      text-transform: uppercase;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .email-input {
        background-color: rgb(30, 30, 30);
        border: 1px solid #555;
        border-radius: 8px;
        padding: 12px;
        color: #fff;
        font-size: 0.9rem;
        outline: none;
        transition: border 0.3s ease;

        &::placeholder {
          color: #aaa;
          letter-spacing: 0.5px;
        }

        &:focus {
          border-color: #fff;
        }
      }

      .subscribe-btn {
        background: #d6c36f;
        color: #000;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        padding: 12px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        transition: background 0.3s ease;

        &:hover {
          background: #c1ae5e;
        }
      }
    }
  }
}


/*# sourceMappingURL=style.css.map */
