<div class="about">

    <div class="about-left">
        <img src="https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d3bfeb533099399bbe18fb_home-about-p-800.webp" alt="Arlts">

    </div>
    <div class="about-right">
        <h5>About</h5>

        <h2>Bringing Fashion Brands to life</h2>
        <p>At our agency, we are passionate about bringing fashion brands to life. With a combination of creative vision, strategic thinking, and industry expertise. We help our clients transform their ideas into vibrant realities that resonate with their target audience, leaving a lasting impact in the fashion industry.</p>

    </div>
    <div class="about-down">
        <img src="https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d4f8f8d353ff2654a07ebd_home-tabs-01-p-800.webp" alt="Arlts">

    </div>

  


</div>