<div class="media-card">
  <div class="media-header">
    <i class="icon"><%= platformIcon %></i>
    <a href="<%= link %>" target="_blank" class="open-link">↗</a>
  </div>

  <h3><%= platformName.toUpperCase() %></h3>
  <p><%= description %></p>
</div>
