<div class="social-card">
  <div class="social-card__icon">
    <div>
    <i class="fab fa-instagram"></i>

    </div>

    <div class="last-icon">
    <i class="fa-solid fa-arrow-right"></i>

    </div>
    

  </div>

  <div class="social-card__content">
    <h3>INSTAGRAM</h3>
    <p>Captivating visuals that showcase our fashion brand's unique style and story.</p>
  </div>
</div>