<div class="branding">

    <h1><%= title %></h1>
    <p><%= content %></p>

    <div class="branding-button">

        <div class="branding-arrrow">
            <i class="fa fa-arrow-right arr" aria-hidden="true"></i>
        </div>
        <div>
            <a href="<%= link %>">About Branding</a>
        </div>

    </div>


<!--  -->
</div>

