<div class="new-card">
  <div class="new-card-image">
    <img src="https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d630b9f7e09b4b1337bbe2_newsletter-p-800.webp" alt="Newsletter">
  </div>
  <div class="new-card-content">
    <h5 class="tag">Newsletter</h5>
    <h1 class="new-card-title">Get insights behind the scenes</h1>

    <div class="form-group">
      <input type="email" placeholder="Your Email" class="email-input" />
      <button class="subscribe-btn">Subscribe</button>
    </div>
  </div>
</div>
