<div class="branding-list">
    <% const services = ["video production", "branding & identity", "online marketing", "e-commerce"]; %>
    <ul>
        <% services.forEach(function(service) { %>
            <li>

                <span>
                    <%= service %>

                </span>
                <span class="fas">
                     <i class="fa fa-arrow-right arr" aria-hidden="true"></i>


                </span>

            
            </li>

        <% }); %>
    </ul>
</div>
